body{background-color: rgb(111, 54, 77);
}
#img1 {width: 30%;}
#img1 {margin-left: 35%;}
#img2 {margin-left: 25%;}
#img2 {width: 50%;}
#img3 {margin-left: 30%;}
#img3 {width: 40%;}

.parte1 {background-color: black;}
.parte2 {background-color: black;}
.parte3 {background-color: black;}